<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharegogo.video.game"
    android:versionCode="1"
    android:versionName="1.0" >
    
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name="com.sharegogo.video.SharegogoVideoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sharegogo.video.activity.MainActivity"
            android:label="@string/title_activity_main" 
            android:theme="@style/AppThemeEx">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sharegogo.video.activity.PlayActivity"
            android:label="@string/title_activity_main" 
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- umeng -->
        <meta-data android:value="510fa6a152701574f2000016" android:name="UMENG_APPKEY"></meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="QQ" >
        </meta-data>
           
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
        
        <!-- Fb Activitys Start -->
		<activity android:name="com.umeng.fb.ui.SendFeedback"
			android:windowSoftInputMode="adjustResize" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversations" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversation"
			android:configChanges="keyboard" />
        <!-- Fb Activitys End -->
        
        <!-- umeng -->
        
        <!-- 芒果 -->
        
       	<!-- 声明Mogo的Activity -->
        <activity
            android:name="com.adsmogo.adview.AdsMogoWebView"
            android:label="@string/app_name" >
        </activity>
        
        <!-- 声明安沃的Activity -->
        <activity
            android:name="com.adwo.adsdk.AdwoAdBrowserActivity"
            android:label="@string/app_name" />
        
        <!-- 注册Service，应用下载所需 -->
        <service
            android:name="com.adsmogo.controller.service.UpdateService"
            android:exported="true"
            android:process=":remote" />
        <!-- 注册Service，应用被安装所用 -->
        <service
            android:name="com.adsmogo.controller.service.CountService"
            android:exported="true"
            android:process=":remote" />
        <!-- 芒果 -->
        
    </application>

</manifest>